* {
  font-family: "PantographSansRegular", "Open Sans", Helvetica, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.chat-container {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .chat-container {
    box-shadow: 0 0 3em black;
    margin: 5vh auto;
  }
}
